
<div class="handlebarDiv activities">

        <div class="activity 1">
                <h3>how about {{activity_one}}? </h3>
                <div class="description 1">
                    <p>{{description_one}}</p>
                </div>
        </div>
        <div class="activity 2">
                <h3>or maybe {{activity_two}}:</h3>
                <div class="description 2">
                    <p>{{description_two}}</p>
                </div>
        </div>
        <div class="activity 3">
            <h3>and don't forget {{activity_three}}</h3>
            <div class="description 3">
                <p>{{description_three}}</p>
            </div>

        </div>
        <div class="back-button-container">
            <button class= "back-button">BACK</button>
        </div>

</div>
