
<div class="handlebarDiv activities">

    <div class="activity one">
        <h3>how about {{activity_one}}? </h3>
        <p>{{description_one}}</p>
    </div>
    <div class="activity two">
        <h3>or maybe {{activity_two}}:</h3>
        <p>{{description_two}}</p>
    </div>
    <div class="activity three">
        <h3>and don't forget {{activity_three}}</h3>
        <p>{{description_three}}</p>
    </div>

    <div class="back-button-container">
        <button class= "back-button">BACK</button>
    </div>

</div>
